body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6dd5fa, #2980b9);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.converter {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

h1 {
    color: #2980b9;
}

.form-group {
    margin-bottom: 15px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1f6a8c;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.choices {
    margin-bottom: 15px;
    font-size: 16px;
}

.choices__list--dropdown {
    background-color: #fff;
    color: #333;
}

.choices__list--dropdown .choices__item--choice {
    padding: 10px;
    cursor: pointer;
}

.choices__list--dropdown .choices__item--choice:hover {
    background-color: #2980b9;
    color: white;
}
.flag-icon {
    width: 20px;
    height: 15px;
    margin-right: 10px;
}

.choices__item {
    display: flex;
    align-items: center;
    justify-content: start;
}

.choices__item span {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}


